@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
   font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-gradient {
  background: linear-gradient(to right, #9423b0, #c763a9, #f7b42c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;}